@{
    ViewBag.Title = "Home Page";
}

<div ng-app="ordersApp" ng-controller="OrderListController">
    <div class="col-sm-6">
        <div class="panel panel-danger">
            <div class="panel-heading"><h3>Список заказов от клиента</h3></div>
            <div class="panel-danger">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Товар
                            </th>
                            <th>
                                Количество
                            </th>
                            <th>
                                Адрес
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders">
                            <td ng-bind="order.title" />
                            <td ng-bind="order.count" />
                            <td ng-bind="order.address" />
                            <td><a ng-click="deleteOrder(order.id, $index)" class="btn btn-block">Удалить</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="col-sm-6">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3>Заказ от клиента</h3></div>
                <div class="panel-danger">
                    <form ng-submit="addOrder()">
                        <div id="title-group">
                            <label>Товар</label>
                            <input type="text" name="title" ng-model="newOrder.title" class="form-inline" />
                        </div>
                        <div id="count-group">
                            <label>Количество  </label>
                            <input type="number" ng-model="newOrder.count" name="count" class="form-inline" />
                        </div>
                        <div id="address-group">
                            <label>Адрес       </label>
                            <input type="text" ng-model="newOrder.address" name="address" class="form-inline" />
                        </div>
                        <hr />
                        <button type="submit" class="btn btn-danger">
                           Ок
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script></script>
